VITE_APPWRITE_PROJECT_ID=your_project_id
APPWRITE_API_KEY=your_server_api_key
VITE_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
VITE_APPWRITE_DATABASE_ID=your_database_id
VITE_APPWRITE_LEADS_COLLECTION_ID=your_leads_collection_id
VITE_APPWRITE_SERVICES_COLLECTION_ID=your_services_collection_id
VITE_APPWRITE_EXPERIENCE_COLLECTION_ID=your_experience_collection_id
VITE_APPWRITE_REVIEWS_COLLECTION_ID=your_reviews_collection_id
VITE_APPWRITE_BLOGS_COLLECTION_ID=your_blogs_collection_id
VITE_APPWRITE_WEB_PROJECTS_COLLECTION_ID=your_web_projects_collection_id
VITE_APPWRITE_MARKETING_PROJECTS_COLLECTION_ID=your_marketing_projects_collection_id
VITE_APPWRITE_PDF_BUCKET_ID=your_pdf_bucket_id
VITE_APPWRITE_GENERAL_BUCKET_ID=your_general_bucket_id
VITE_APPWRITE_PROFILE_COLLECTION_ID=your_profile_collection_id
VITE_APPWRITE_ANNOUNCEMENTS_COLLECTION_ID=your_announcements_collection_id
